data
.idea
*.pth
.DS_Store
test_img
download_img_json
lightning_logs/
/wandb_logs/
/__pycache__
*.pyc
index_to_species_id.csv
index_to_species_name.csv
index_to_species_reptilia.csv
*.csv
node_modules
1.jpg
last.ckpt
